/*
* multi-line comment
*/
p{ line-height: 1.7em; }
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: #595959;
	text-decoration: none;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

html{
    font-family: Courier; font-size: 120%; line-height: 1.2em; width: 100%; margin: 0; background: #eee; text-align: right;
    background:
    url(welcome.png)    /* image */
    no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}
/* you can put your code all in one line like above */
#page{ margin: 20px; }
#logo{
	width: 100%;
	margin-top: 170px;
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
}

/* or on different lines like below */
/* but try and be as concise as possible */
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
	 }
	#footer ul{}
	    #footer ul p{ 
	        position: fixed;
            bottom: 0;
            width: 100%;
            right: 0;
            bottom: 0;
		    text-align:  center;
		    display: inline-block;
	        }